 <!--order-->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6" *ngIf="caleconData">
            <a routerLink="../../calecon" class="btn btn-sm btn-dark mt-3">Retour</a>
            <img src="{{caleconData[0].caleconImg}}" width="90%" />
            <h1 class="m-3">{{caleconData[0].caleconName}}</h1>
            <p>{{caleconData[0].caleconDescription}}</p>
            <p>{{caleconData[0].caleconPrice}} 
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i></p>
            <!---form-->
        </div>
        <div class="col-lg-6">
            <h1>Vos Infos</h1>
            <form>
                <input type="text" class="form-control" placeholder="Votre nom complet" />
                <input type="text" class="form-control" placeholder="Entrer votre numero de tel" />
                <textarea class="form-control" placeholder="détaillez votre lieu de livraison"></textarea>
                <button class="btn-md btn-dark mt-3">commander</button>
            </form>
        </div>

    </div>
</div>

