.navbar-light .navbar-nav .nav-link {
    color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link:hover{
    color:rgb(255, 0, 221);
    background-color: rgb(106, 0, 255);
    border-radius: 8px;
}

.navbar-light .navbar-nav .nav-link.active-link {
    color: var(--primary-color);
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link.active-link:hover{
    background-color: goldenrod;
    border-radius: 5px;
}

.form-control{
    border-radius: 3px;
    width: 300px;
    margin-left: 20px;
}

.btn{
    color: aliceblue;
}

.search-icon{
    position:absolute;
    z-index: 10;
    right: 48%;
    color: rgb(20, 233, 8);
}

.cart-top
{
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
}
.items img 
{
    width: 60px;
}
.items
{
    margin: 0 15px;
    text-align: center;
    font-weight: bold;
}
.items:hover
{
    color: blue;
    font-weight: bold;
}
.items h6 
{
    font-weight: bold;
}