<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand bg-secondary" routerLink="">JADE SHOPPING</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]= "{exact:true}">La boutiques</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="menu" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}">Notre Collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="contact" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}">Contact</a>
          </li>
        
          
        </ul>
      </div>
    </div>
  </nav>