<div class="container-fluid footer">
    <div class="row">
        <!--name-->
        <div class="col-lg-6 mt-1 mb-1">
            <h1>JADE SHOP</h1>
            <h2>GOOD SHOPPING, GOOD LOOK!</h2>
        </div>
        <!--nav-->
            <div class="col-lg-4 mt-1 mb-1">
                <a routerLink="">La boutique</a>
                <a routerLink="menu">Notre Collection</a>
                <a routerLink="contact">CONTACT</a>
            </div>

<!--social media-->

        <div class="col-lg-2 mt-1 mb-1">
            <a href="" target="blank"><i class="bi bi-facebook"></i></a> 
            <a href="" target="blank"><i class="bi bi-whatsapp"></i></a> 
            <a href="#" target="blank"><i class="bi bi-linkedin"></i></a> 
            <a href="#" target="blank"><i class="bi bi-twitter"></i></a> 
            <a href="#" target="blank"><i class="bi bi-youtube"></i></a> 
        </div>

    </div>

</div>
