
.footer {
    overflow: hidden;
    background-color: rgb(105, 2, 67);
    padding:auto;
    position: sticky;
    top: 100%;
    margin-top: 20px;
}
.row
{
    margin: 2px
}

h1 {
    color: rgb(246, 238, 8);
    font-weight: bold;
    font-size: 20px;
}

h2 {
    color:goldenrod;
    font-size: 14px;
}

a {
    color: gold;
    text-decoration: none;
    padding: 0px 5px;
    font-size: 17px;
}
a:hover {
    color: var(--primary-color);
}