<div class="container mb-5 md-5">
   <form class="col-lg-8">
    <h1>Contact Us</h1>
    <div class="rom">
        <div class="col-lg-12 mt-2 mb-2">
            <input type="text"class="form-control mt-2"  placeholder="Enter Your lastName" name="FirstName">    
        </div>
        <div class="col-lg-12 mt-2 mb-2">
            <input type="text"class="form-control mt-2 mb-2"  placeholder="Enter Your lastName" name="lastName">    
        </div>
        <div class="col-lg-12">
            <input type="text" class="form-control mt-2 mb-2" placeholder="Enter Your Email" name="email">    
        </div>
        <div class="col-lg-12">
            <input type="text" class="form-control mt-2 mb-2" placeholder="Enter Your phone" name="phone">    
        </div>
        <button type="submit" class="btn btn-dark mt-2 mb-5">Submit</button>
    </div>
   </form>
</div>
