<div class="container">

    <div class="row">

        <div class="col-lg-4" *ngFor="let fd of pantalonData">

            <div class="braidBox">
                <img src="{{fd.pantalonImg}}">
                <h1>{{fd.pantalonName}}</h1>
                <p>{{fd.pantalonDescription}}</p>
                <p>{{fd.pantalonPrice}}</p>
                <br>
                <a class="buybtn" [routerLink]="['/pantalon', fd.id]">achetez &nbsp;<i class="bi bi-cart4"></i></a>
            </div>
        </div>
    </div>
</div>
