.braidBox{
    padding: 10px 5px;
}
.braidBox img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
}
.braidBox h1{
    font-size: 18px;
    margin-top: 20px;
    color: rgb(253, 7, 138);
    font-weight: bold;
}
.braidBox p{
    color: rgb(12, 9, 1);
    font-style: italic;
    font-weight: bold;
}
.buybtn{
    text-decoration: none;
    background-color: rgb(130, 9, 205);
    color: gold;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.buybtn:hover{
    background-color : var(--primary-color);
    color: #fff;
}

.bi {
    color: #fff;
}
