<!--order-->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6" *ngIf="pantalonData">
            <a routerLink="../../pantalon" class="btn btn-sm btn-dark mt-3">Retour</a>
            <img src="{{pantalonData[0].pantalonImg}}" width="90%" />
            <h1 class="m-3">{{pantalonData[0].pantalonName}}</h1>
            <p>{{pantalonData[0].pantalonDescription}}</p>
            <p>{{pantalonData[0].pantalonPrice}} 
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i></p>
            <!---form-->
        </div>
        <div class="col-lg-6">
            <h1>Vos Infos</h1>
            <form>
                <input type="text" class="form-control" placeholder="Votre nom complet" />
                <input type="text" class="form-control" placeholder="Entrer votre numero de tel" />
                <textarea class="form-control" placeholder="détaillez votre lieu de livraison"></textarea>
                <button class="btn-md btn-dark mt-3">commander</button>
            </form>
        </div>

    </div>
</div>

