<div class="container">
    <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1666630115/braid2_kivvbs.jpg" width="70%" alt="touch">
    <h1 style="text-align: center; font-weight: bold; color: var(--primary-color);">Our mission</h1>
    <p style="text-align:justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate illum quia temporibus.
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam minima sit.
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos est adipisci ut quae voluptas unde nulla laborum. Dolore odio facilis quasi iure impedit quod obcaecati totam nam hic numquam!
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, iusto debitis earum possimus sapiente neque similique quae a dolorem magni porro quas pariatur libero iure quaerat ducimus necessitatibus quidem animi?
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id odio voluptas exercitationem quidem! Doloribus, fugiat, odit eaque officiis placeat quod modi repudiandae illum nam consequatur tempore autem accusamus ratione earum!
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ullam itaque odio.
       <br>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae nesciunt voluptate omnis quae optio dolorem aut velit necessitatibus suscipit ipsam sed neque sint ea, quos deleniti praesentium rem perferendis itaque!
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio sit ad perspiciatis, labore porro voluptates ratione? Exercitationem necessitatibus dolor iure maxime id magnam, animi debitis impedit, velit, rem sunt aliquid.
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nisi error! Provident sit fuga cupiditate aliquid cum sint velit, qui eos earum amet eum id unde dolore error quia pariatur?
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis sit, harum quo eaque explicabo in laudantium cupiditate minus eveniet corporis blanditiis, aperiam, repellendus fugit voluptatibus accusantium pariatur deleniti esse. In.
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum inventore, laboriosam eaque nisi minus, aut temporibus quibusdam ipsum officiis pariatur sit eligendi quos suscipit id optio, fugiat accusamus? Consectetur, modi?
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, aliquam aut recusandae magnam dolores aperiam autem deleniti quam illo dolorum esse, aliquid dolore exercitationem praesentium. Minima aliquam sunt et dolore!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut aliquid similique, eos velit itaque magni totam quos dignissimos tempore officiis soluta obcaecati! Iure, labore tenetur cupiditate dignissimos rem cumque aspernatur?
       <br>
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita at, provident, molestias nulla sint nesciunt est maxime ex quos, optio nihil architecto sit. Dicta quas ducimus quae nulla molestiae odit!
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati corporis fugiat quo perspiciatis non et in, accusantium quam voluptatem excepturi officia rem assumenda iusto fugit atque ullam est vero porro!

    </p>
</div>