
.cart-top
{
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
}
.items img 
{
    width: 60px;
}
.items
{
    margin: 0 15px;
    text-align: center;
    font-weight: bold;
}
.items:hover
{
    color: blue;
    font-weight: bold;
}
.items h6 
{
    font-weight: bold;
}

.card{
    padding: 20px;
}
.card img 
{
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    object-fit: contain;
    mix-blend-mode:normal;
    background: rgb(255, 255, 255);
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}
.card img:hover
{
    transition: 0.3 ease-in-out;
    transform: scale(1.5);

}

