.card
{
    height: 60vh;
    margin: 25px;
    padding: 25px
}
.center
{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.center img {
    text-decoration: none;
    color: inherit;
    width: 250px;
    border: none;
    outline: none;
    height: 162px;
    margin:20px 0px;
}