<div class="banner">
    <div class="content">
        <h1 class="mb-5"> Welcome dear <br> customer, SignUp</h1>
        <a routerLink="/menu" >Order Now<i class="bi bi-arrow-right-circle-fill"></i></a>
    </div>
</div>

<!--form signup-->
<div class="container mb-4">
    <form [formGroup]="signupForm" (ngSubmit)="signupSubmit()">
       <!--errmsg here-->
        <div *ngIf="errmsgshow">
        <p class="text-danger">{{errmsg}}</p>
       </div>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="name" placeholder="Enter Your firstName">
          </div>
        <div class="mb-3">
          <input type="email" class="form-control" formControlName="email" placeholder="Enter your Email ID">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" formControlName="password" placeholder="enter password">
        </div>
        <button type="submit" class="btn btn-primary">SignUp</button>
    </form>
</div>
<div>
    <a routerLink="/menu" class="viewmorebtn" >View more<i class="bi bi-arrow-right-circle-fill"></i></a>
</div>