
*
{
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #06fb43; 
    --secondary-color: #142f3a;
}


body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 100vh;
}
