<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
                    <div class="form-floating mb-3">
                        <h5 class="text-center text-warning">Add Product</h5>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
                        <label for="name">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="category" name="category" [(ngModel)]="category">
                        <label for="category">Category</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="price" name="price" [(ngModel)]="price">
                        <label for="price">Price</label>
                    </div>
            
                    <button type="button" class="btn btn-outline-success"(click)="addProduct()">Add Product</button>
                
            </div>
        </div>
       
        <div class="col-md-8 mt-5">
             <h5 class="text-danger">Product List</h5>
             <div class="card p-3 shadow">
                <table class="table table-hover">
                    <thead>
                      <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let prod of productsList">
                            <td>{{prod.name}}</td>
                            <td>{{prod.category}}</td>
                            <td>{{prod.price}}</td>
                            <td>
                                <button class="btn btn-outline-danger" click ="deleteProduct(product)">Delete</button>
                            </td>
                      </tr>
                    </tbody>
                  </table>
             </div>
        </div>
    </div>
    
    </div>
    